body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); /* a more fancy background gradient */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  width: 500px; /* make the form wider */
  text-align: center; /* center text and form fields */
}

input[type="text"] {
  width: 100%;
  padding: 20px; /* make the text input taller */
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 18px; /* increase font size */
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  padding: 20px; /* make the button taller */
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px; /* increase font size */
  transition: background-color 0.3s ease; /* add transition for smooth color change */
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.success-message {
  color: green;
  font-size: 20px; /* make success message font bigger */
  text-align: center;
  margin-top: 20px;
}
